<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>ToDo List</title>
	</head>
	<body>
		<% if (dayOfWeek === "Sunday" || dayOfWeek === "Saturday") { %>
		<h1 style="color: purple;">Today is a <%= dayOfWeek %>!</h1>
		<% } else { %>
		<h1 style="color: crimson;">Today is a <%= dayOfWeek %>!</h1>
		<% } %>
	</body>
</html>
