<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../css/styles.css" type="text/css" />
		<title>ToDo List</title>
	</head>
	<body>
		<div class="box" id="heading">
			<h1><%= dayToday %></h1>
		</div>

		<div class="box">
			<% newListItems.forEach(function(newListItem){ %>
			<div class="item">
				<input type="checkbox" />
				<p><%= newListItem %></p>
			</div>

			<% }); %>
			<form class="item" action="/" method="POST">
				<input type="text" name="newItem" placeholder="New Item" autocapitalize="on" autocomplete="off" />
				<button type="submit" name="button">+</button>
			</form>
		</div>
		<footer>
			<p><a href="https://github.com/mashm3ll0w/">Karl</a> | 2019 &copy;</p>
		</footer>
	</body>
</html>
