<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="../css/styles.css" type="text/css">
		<title>ToDo List</title>
	</head>
	<body>
		<!-- IMPORTANT TO NOTE
    In order for the control flow to render properly without any errors, you need to add
    the else statement immediately after the closing braces of an if statementbundleRenderer.renderToStream
    YOU CANT HAVE ELSE OR ELSE IF ON ITS OWN LINE BY ITSELF!!! 
    IMPORTANT TO NOTE -->

		<!-- <% if (dayToday === "Sunday" || dayToday === "Saturday") { %>
		<h1 style="color: purple;">Today is a <%= dayToday %>!</h1>
		<% } else { %>
		<h1 style="color: crimson;">Today is a <%= dayToday %>!</h1>
		<% } %> -->

		<h1><%= dayToday %></h1>

		<!-- USE A FOR EACH LOOP TO LOOP THROUGH THE ITEMS ARRAY -->
		<ul>
			<% newListItems.forEach(function(newListItem){ %>
			<li><%= newListItem %></li>
			<% }); %>
			<form action="/" method="POST">
				<li><input type="text" name="newItem" placeholder="Add ToDo Item..." autocapitalize="on" /></li>
				<button type="submit">Add</button>
			</form>
		</ul>
	</body>
</html>
